[submodule "dotbot"]
	path = dotbot
	url = github.com:anishathalye/dotbot
[submodule "fonts/powerline_fonts"]
	path = fonts/powerline_fonts
	url = github.com:powerline/fonts
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = github.com:VundleVim/Vundle.vim
[submodule "fonts/nerd-fonts"]
	path = fonts/nerd-fonts
	url = github.com:ryanoasis/nerd-fonts
